.mission-container {
    padding: 15px 0 15px 0;
}

.mission-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mission-detail {
    padding-top: 5px;
    padding-left: 15px;
}

.mission-header {
    font-weight: bold;
}

.filter-alert.hidden {
    display: none;
}
