<!DOCTYPE html>
<html>
    <head>
        <title>Lazy Tenno</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <link rel="stylesheet" href="css/jquery.mobile-1.3.2.min.css" />
        <link rel="stylesheet" href="css/base.css" />

        <script type="text/javascript" src="http://samdeng.com:7000/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/lib/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.mobile-1.3.2.min.js"></script>
        <script type="text/javascript" src="js/lib/handlebars.js"></script>
        <script type="text/javascript" src="js/lib/cordova.js"></script>
        <script type="text/javascript" src="js/lib/plugins/PushNotification.js"></script>
        <script type="text/javascript" src="js/utils/push-notification.js"></script>
        <script type="text/javascript" src="js/utils/splash-screen.js"></script>
        <script type="text/javascript" src="js/utils/local-storage.js"></script>
        <script type="text/javascript" src="js/mission.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/lazy-tenno.js"></script>
    </head>


    <body>
        <script id="mission-template" type="text/x-handlebars-template">
            <div class="ui-grid-a mission-container">
                <div class="ui-block-a">
                    <ul class="mission-details">
                        <li class="mission-header">{{ reward }}</li>
                        <li class="mission-detail">{{ mission.location }}, {{ mission.planet }}</li>
                        <li class="mission-detail">{{ minutes_remaining }}m</li>
                    </ul>
                </div>

                <div class="ui-block-b">
                    <a href="#" data-role="button" data-theme="b" data-icon="minus" class="filter-alert hidden">Remove</a>
                </div>
            </div>
        </script>

        <script id="restore-alerts-template" type="text/x-handlebars-template">
            {{# each alerts }}
            <div class="ui-grid-solo">
                <div class="ui-block-a">
                    <a href="#" data-role="button" data-theme="b" data-icon="refresh" class="restore-alert">{{ reward }}</a>
                </div>
            </div>
            {{/ each }}
        </script>


        <div data-role="page" data-theme="a" id="alerts-page">
            <div data-role="header" data-theme="a" class="ui_bar">
                <div class="ui-grid-solo">
                    <div class="ui-block-a" id="restore-alerts">
                        <a href="#restore-page" data-role="button" data-icon="grid" data-transition="flip">Filters</a>
                    </div>
                </div>
            </div>

            <div data-role="content" data-theme="a" id="alert-list"></div>
        </div>


        <div data-role="page" data-theme="a" id="restore-page">
            <div data-role="header" data-theme="a" class="ui-bar">
                <div class="ui-grid-solo">
                    <div class="ui-block-a" id="back-to-alerts">
                        <a href="#alerts-page" data-role="button" data-icon="alert" data-transition="flip">Alerts</a>
                    </div>
                </div>
            </div>

            <div data-role="content" data-theme="a"></div>
        </div>
    </body>
</html>
